:root {
    --main: #5E81AC;
    --background: #f5f5f5;
    --font: #4c566a;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--main); 
	border-radius: 10px;
}